<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tela_login.css">
    <title>Login</title>
</head>
<body>


    <main>
        <form action="" th:object="@{Usuario}" method="post" class="form_login">
            <label for="" >Usuário</label>
            <input type="text" name="username" placeholder="Insira seu usuário..." th:field="*{username}">
            <label for="">Senha</label>
            <input type="password" name="password" placeholder="Insira sua senha..." th:field="*{password}">
            <button type="submit">Cadastrar</button>
            <a href="" class="link_cadastro">Voltar</a>
            
        </form>
    </main>
    
</body>
</html>