<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./listaAlunos.css">
    <link rel="stylesheet" href="./menu.css">
    <title>Lista Alunos</title>
</head>

<body>

    <header>
        <nav class="menu">
            <ul>
                <a href="./painel.html">
                    <li>Painel</li>
                </a>
                <a href="">
                    <li>Disciplinas</li>
                </a>
                <a href="">
                    <li>Perfil</li>
                </a>
                <a href="">
                    <li>Sair</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>


        <h2 class="titulo_padrao">Lista de alunos</h2>
        <section class="container_lista">
            <button class="btn_padrao">Cadastrar Aluno</button>
            <table class="tabela_alunos">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Curso</th>
                    <th>Matrícula</th>
                    <th>Status</th>
                    <th>Turno</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Gabriel</td>
                    <td>345453</td>
                    <td>ADS</td>
                    <td>343454</td>
                    <td>Ativo</td>
                    <td>Matutino</td>
                    <td><img src="./edit.png" class="img_opcao"></td>
                    <td><img src="./delete.png" class="img_opcao"></td>

                </tr>
            </table>
        </section>

    </main>

</body>

</html>