<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./painel.css">
    <link rel="stylesheet" href="./menu.css">
    <title>Painel</title>
</head>

<body>

    <header>
        <nav class="menu">
            <ul>
                <a href="">
                    <li>Painel</li>
                </a>
                <a href="">
                    <li>Disciplinas</li>
                </a>
                <a href="">
                    <li>Perfil</li>
                </a>
                <a href="">
                    <li>Sair</li>
                </a>
            </ul>
        </nav>
    </header>

    <main>


        <h2 class="titulo_padrao">Painel de controler</h2>

        <section class="container_opcoes">
            <a href="./listaAlunos.html" class="box_opcao">
                <h2>Alunos</h2>
            </a>

            <a href="./listaAlunos.html" class="box_opcao">
                <h2>Professores</h2>
            </a>

            <a href="./listaAlunos.html" class="box_opcao">
                <h2>Turmas</h2>
            </a>

            <a href="./listaAlunos.html" class="box_opcao">
                <h2>Histórico de frequência</h2>
            </a>

            <a href="./listaAlunos.html" class="box_opcao">
                <h2>Calendário</h2>
            </a>


        </section>

    </main>

</body>

</html>